@model DV_Prog4_EE.Models.MainViewModel
@{
    ViewData["Title"] = "Index";
}
@if (Model.User.FirstName != null)
{
<h2>Welcome to Prog5DV, @Model.User.FirstName</h2>
}
<div class="text-center center-block">
    <a class="btn btn-info btn-lg" asp-controller="Group" asp-action="Index">Group</a>
    <a class="btn btn-info btn-lg" asp-controller="Profile" asp-action="Index">Your profile page</a>
    <a class="btn btn-info btn-lg" asp-controller="Event" asp-action="Index">Browse events</a>
    <a class="btn btn-info btn-lg" asp-controller="Search" asp-action="Index">Search</a>
</div>
