
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Prog5DV,</h2>
<div>
    <a class="btn btn-info btn-lg" asp-controller="Group" asp-action="Index">Group</a>
    <a class="btn btn-info btn-lg" asp-controller="Profile" asp-action="Index">Your profile page</a>
    <a class="btn btn-info btn-lg" asp-controller="Event" asp-action="Index">Browse events</a>
    <a class="btn btn-info btn-lg" asp-controller="Search" asp-action="Index">Search</a>
</div>
