@model DV_Prog4_EE.Models.EventViewModel
@using DV_Prog4_EE.Enums;

@{ 
    var parameter = Model.Type;
    var submitTekst = "";
    var action = "";
    switch (Model.Type)
    {
        case ActionType.Create:
            ViewData["Title"] = "Create a new event";
            submitTekst = "Create";
            action = "CreateEvent";
            break;
        case ActionType.Delete:
            ViewData["Title"] = "Delete this event";
            submitTekst = "Delete";
            action = "DeleteEvent";
            break;
        case ActionType.Edit:
            ViewData["Title"] = "Edit this event";
            submitTekst = "Confirm";
            action = "EditEvent";
            break;
        case ActionType.NonEdit:
            ViewData["Title"] = "Details about this event";
            action = "Index";
            break;
    }

}

<div class="col-sm-12 center-block text-center">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="Create" method="post">

        <input type="hidden" asp-for="Type" value=@Model.Type />
        <label asp-for="Name">Name of your event</label>
        <input asp-for="Name" class="form-control center-block" />
        <label asp-for="Action">What will you be doing?</label>
        <input asp-for="Action" class="form-control center-block" />
        <label asp-for="From">Starting time</label>
        <input asp-for="From" class="form-control center-block" />
        <label asp-for="To">End time</label>
        <input asp-for="To" class="form-control center-block" />
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control center-block" />
        <div>
            @if (Model.Type != ActionType.NonEdit)
            {
            <button class="btn btn-lg btn-info" type="submit">@submitTekst</button>
            <a asp-controller="Group" asp-action="Index" class="btn btn-lg btn-default">Cancel</a>
            }
            else
            {
                <a asp-action="Index"  class="btn btn-lg btn-default">Cancel</a>
            }
        </div>
    </form>
</div>