
@{
    ViewData["Title"] = "Index";
}

<h2>Your profile</h2>

<div>
    <img />
    <ul>
        <li>
            Name:
        </li>
        <li>
            Email:
        </li>
        <li>
            Interests:
            <ul>
                <li>
                    Lorem
                </li>
                <li>
                    Ipsum
                </li>
            </ul>
        </li>
        <li>
            <a >Your group: </a>
        </li>
    </ul>
</div>