@model DV_Prog4_EE.Models.ProfileViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Your profile</h2>

<div class="col-md-4">
    <ul>
        <li>
            Name: @Model.FirstName
        </li>
        <li>
            Last name: @Model.LastName
        </li>
        <li>
            Interests: @Model.Interests
        </li>
    </ul>
</div>
<br />
@if (Model.HasGroup == false)
{
    <div class="col-md-4">
        <h2>Your invitations</h2>



        @if (Model.Invites != null)
        {
            @foreach (var item in Model.Invites)
            {
                <p>@item.Group.Name</p>
                <form asp-action="Join" method="post" asp-route-id=@item.GroupId>
                    <button class="btn btn-info" type="submit">Join</button>
                </form>
            }




        }
    </div>
}
    @if (Model.mode == DV_Prog4_EE.Enums.ViewType.Owner)
    {
        <a asp-controller="Profile" asp-action="Edit" class="btn btn-info btn-lg">Edit your profile</a>
    }
